<!-- Footer -->
<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="footer">
    <div class="container">
      <p>© 2025 Sociodex. Todos os direitos reservados.</p>
      <nav>
        <ul class="footer-links">
          <li><a href="/about">Sobre Nós</a></li>
          <li><a href="/terms">Termos de Uso</a></li>
          <li><a href="/privacy">Política de Privacidade</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  