<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Sociodex</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="/socio.png" alt="Sociodex Logo">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sociodex">Sociodex</a></li>
        <li><a href="/socioGlobo">Mapa</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/about">Sobre Nós</a></li>
      </ul>
    </nav>
  </header>
  
</body>
</html>
