<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selecionar Função</title>
  <link rel="stylesheet" href="/stylesheets/selecionarFuncao.css"></head>
<body>
  <h1>Escolha uma função:</h1>
  
  <main>
    <form id="formFuncAdm" method="get">
      <button type="submit" formaction="/sociodex/adicionar" class="btn">Adicionar Novo Sociólogo</button>
      <button type="submit" formaction="/sociodex/admin" class="btn">Editar Sociólogo</button>
      <button type="submit" formaction="/adicionarPerguntas" class="btn">Adicionar Pergunta ao Quiz</button>
    </form>
  </main>

</body>
</html>
